header {
background-color: blueviolet;
display: flex;
color: antiquewhite;
padding: 20px;
justify-content: space-between;
}
.d{
    color: blue;
}
.text {
    display: flex;
    gap: 100px;
}
.text div {
    border-top: 4px solid blue;
    background-color: antiquewhite;
    width: 200px;
    gap: 40px;
    padding: 30px;
    display: flex;
    margin: 10px;
    border-radius: 7px;
}
.u{
    background-color: aliceblue;
    padding: 50px;
    margin-left: 20px;
    margin-right: 1000px;
    
}
.o {display: flex;
gap: 100px;}
.o div{
    width: 400px;
    margin: 20px;
    padding: 30px;
    display: flex;
    background-color: beige;
    height: 100px;
}
.t {display: flex;
gap: 20px;}
.t div{ 
    background-color: beige;
    padding:30px ;
    display:flex ;
    width: 400px;
    margin: 20px;
    height: 100px;
}
button
{
    color: blue;
    background-color: aquamarine;

}
input{width: 400px;
height: 60px;
background-color: blueviolet;}